<!--<div id="top-bar">
	<div class="logo">
		<img src="/images/boomtrain.png" />
	</div>
</div>-->
<div id="banner">
	<p id="banner_message"></p>
</div>

<div id="title-bar">
	<div class="logo">
		<% if (name != 'Nutricia'){ %> <!-- HIDING THE LOGO FOR NUTRICIA -->
			  <img src="<%= logo %>" />
		<% } %> <!-- END IF -->
	</div>
</div>

<div id="body">
	<div id="left-menu">
		<div class="menu-items">
			<div class="menu-item">
				<!-- Localise Left Nav links (list page/prefs page) - based on account property -->
				<% if (langPref == 'ES'){ %>
				<img src="/images/profile-off.png" id="list-icon"/><a id="btn-my-list" href="javascript:void(0);">Mis Boletines</a>
				<% } else if (langPref == 'BP'){ %>
				<img src="/images/profile-off.png" id="list-icon"/><a id="btn-my-list" href="javascript:void(0);">Minhas Newsletters - VEJA</a>
				<% } else if (langPref == 'FR'){ %>
				<img src="/images/profile-off.png" id="list-icon"/><a id="btn-my-list" href="javascript:void(0);">Mes listes</a>
				<% } else { %>
				<img src="/images/profile-off.png" id="list-icon"/><a id="btn-my-list" href="javascript:void(0);">My Lists</a>
				<% } %>
			</div>
			<div class="menu-item">
				<% if (langPref == 'ES'){ %>
				<img src="/images/list-on.png" id="profile-icon"/><a id="btn-my-profile" href="javascript:void(0);">Mi Perfil</a>
				<% } else if (langPref == 'BP'){ %>
				<img src="/images/list-on.png" id="profile-icon"/><a id="btn-my-profile" href="javascript:void(0);">Meu Perfil</a>
				<% } else if (langPref == 'FR'){ %>
				<img src="/images/list-on.png" id="profile-icon"/><a id="btn-my-profile" href="javascript:void(0);">Mon profil</a>
				<% } else { %>
				<img src="/images/list-on.png" id="profile-icon"/><a id="btn-my-profile" href="javascript:void(0);">My Profile</a>
				<% } %>
			</div>
		</div>

	</div>

	<div id="content">
		<div id="profile-form" class="form">
			<div class="fieldset-container">


<% if (name == 'Advisor Perspectives') { %>
	<% profile.forEach(function(prop, index) { %>

		<% if (prop.name == 'Role in Company') { %>

			<fieldset>
				<label><%= prop.name %></label>
				<select class="drop-down">

  				<% if (prop.value) { %>

        	<option type="dropdown" class="profile-input" value="<%= prop.value %>" data-property="<%= prop.property %>"> <%= prop.value %></option>

      		<% } else { %>

        	<option type="dropdown" class="profile-input" value="" data-property="<%= prop.value %>"><%= prop.name %></option>

      		<% } %>

				  <option type="dropdown" class="profile-input" value="Independent Financial Planner/Advisor" data-property="<%= prop.property %>">Independent Financial Planner/Advisor</option>
				  <option type="dropdown" class="profile-input" value="Registered Investment Advisor (RIA)" data-property="<%= prop.property %>">Registered Investment Advisor (RIA)</option>
				  <option type="dropdown" class="profile-input" value="Registered Representative - Wirehouse" data-property="<%= prop.property %>">Registered Representative - Wirehouse</option>
				  <option type="dropdown" class="profile-input" value="Registered Representative - IBD" data-property="<%= prop.property %>">Registered Representative - IBD</option>
				  <option type="dropdown" class="profile-input" value="Insurance" data-property="<%= prop.property %>">Insurance</option>
				  <option type="dropdown" class="profile-input" value="Accounting" data-property="<%= prop.property %>">Accounting</option>
				  <option type="dropdown" class="profile-input" value="Bank Advisor" data-property="<%= prop.property %>">Bank Advisor</option>
				  <option type="dropdown" class="profile-input" value="Other" data-property="<%= prop.property %>">Other</option>
				</select>
			</fieldset>

		<% } else if (prop.name == 'AUM') { %>

			<fieldset>
				<label><%= prop.name %></label>
				<select class="drop-down">

  				<% if (prop.value) { %>

        	<option type="dropdown" class="profile-update" value="<%= prop.value %>" data-property="<%= prop.property %>"> <%= prop.value %></option>

      		<% } else { %>

        	<option type="dropdown" class="profile-update" value="" data-property="<%= prop.value %>"><%= prop.name %></option>

      		<% } %>

				  <option type="dropdown" class="profile-update" value="I don't manage assets" data-property="<%= prop.property %>">I don't manage assets</option>
				  <option type="dropdown" class="profile-update" value="Less than $500,000" data-property="<%= prop.property %>">Less than $500,000</option>
				  <option type="dropdown" class="profile-update" value="$500,000-$1 million" data-property="<%= prop.property %>">$500,000-$1 million</option>
				  <option type="dropdown" class="profile-update" value="$1 million-$10 million" data-property="<%= prop.property %>">$1 million-$10 million</option>
				  <option type="dropdown" class="profile-update" value="$10 million-$50 million" data-property="<%= prop.property %>">$10 million-$50 million</option>
				  <option type="dropdown" class="profile-update" value="$50 million-$100 million" data-property="<%= prop.property %>">$50 million-$100 million</option>
				  <option type="dropdown" class="profile-update" value="$100 million-$500 million" data-property="<%= prop.property %>">$100 million-$500 million</option>
				  <option type="dropdown" class="profile-update" value="$500 million-$1 billion" data-property="<%= prop.property %>">$500 million-$1 billion</option>
				  <option type="dropdown" class="profile-update" value="Over $1 billion" data-property="<%= prop.property %>">Over $1 billion</option>
				</select>
			</fieldset>

		<% } else { %>
			<% if (prop.name == 'Email') { %>
				<fieldset id="full-width">
					<label><%= prop.name %></label>
					<input type="text" class="profile-input" data-property="<%= prop.property %>" value="<%= prop.value %>">
				</fieldset>
			<% } else { %>
				<fieldset>
					<label><%= prop.name %></label>
					<input type="text" class="profile-input" data-property="<%= prop.property %>" value="<%= prop.value %>">
				</fieldset>
			<% } %>

		<% } %>

	<% }); %>

<% } else { %>

	<% profile.forEach(function(prop, index) { %>
		<fieldset>
			<label><%= prop.name %></label>
			<input type="text" class="profile-input" data-property="<%= prop.property %>" value="<%= prop.value %>">
		</fieldset>
	<% }); %>

<% } %>


			</div>
			<div>
				<!-- Localise Save Profile - based on account property -->
				<% if (langPref == 'ES'){ %>
				<input id="btn-save-profile" class="btn btn-save" type="submit" value="Guardar mis Preferencias">
				<% } else if (langPref == 'BP'){ %>
				<input id="btn-save-profile" class="btn btn-save" type="submit" value="Salvar">
				<% } else if (langPref == 'FR'){ %>
				<input id="btn-save-profile" class="btn btn-save" type="submit" value="Enregistrer le profil">
				<% } else { %>
				<input id="btn-save-profile" class="btn btn-save" type="submit" value="Save Profile">
				<% } %>
			</div>
		</div>
		<div id="list-form" class="form">
			<div class="fieldset-container">
<!-- SET CUSTOM HEADER IMAGE FOR DELFI -->
            <% if (name == 'Delfi') { %> <!-- Only for Delfi -->
                <style>
                  body{background:#ffffff;}
                  #btn-save-list{display:none;}
                  .header{display: block;
                    max-width: 510px;
                    margin: 25px auto;
                    font-size: 24px !important;
                    line-height: 28px;}
                    #btn-unsub-all{
                    padding: 14px 25px 14px;
                    background: #0372dd;
                    font-size: 16px;
                    color: #ffffff !important;
                    margin-bottom: 25px;
                    text-transform: uppercase;
                    border-radius: 25px;
                    cursor: pointer;
                    border: 0;
                    outline: 0;
                    box-sizing: border-box;}
                </style>
                <div class="headerImage"><img alt="Sad" src="/images/delfi-nltr-doglet.jpg"/></div>
            <% } %>     <!-- END IF -->
<!-- SET EMAIL IN HEADER FOR ONLY IMPREMEDIA ONLY (this was Honest Reporting section) -->
            <% if (name.indexOf('Impremdia') == -1) { %> <!-- DO FOR OTHERS -->
    				<% if(header) { %>
    					<div class="header"><%= header %></div>
    				<% } %>

                <% } else { %>


        			<% if (name.indexOf('Impremdia') != -1) { %> <!-- DO FOR IMPREMEDIA ONLY - add div for user prefs -->
                        <% if(header) { %>
                            <div class="header" style="text-align:left !important"><%= header %></div>
                        <% } %>

                        <!-- START: add a div to contain NON EDITABLE user prefs -->
        				<% counter = 0 %>
        				<% profile.forEach(function(prop, index) { %>
    						<% if(counter == 0) { %>
        						<div class="header" style="text-align:left !important">
        						<p>Su correo electrónico:&nbsp;<b><%= prop.value %> </b></p>


        						</div>
    						<% } %>
    					<% counter++ %>
                        <% }); %>
    	        <!-- END: add a div to contain user prefs -->
            		<% } %>

                <% } %>     <!-- END IF -->
<!-- END CUSTOM HEADER FOR ONLY IMPREMEDIA ONLY -->

<!-- SET LAYOUT FOR ONLY IMPREMEDIA -->
				<% if (name.indexOf('Impremdia') != -1){ %>
					<% counter = 1 %>
					<fieldset>
						<% lists.forEach(function(list, index) { %>
							<% if(index % 2 == 0) { %>
							<% if (list.listType !='dropDown'){ %>
								<input type="checkbox" id="checkboxG<%= counter %>" class="css-checkbox list-input" data-property="<%= list.property %>" data-property-value="<%= list.type == 'array' ? list.name : '' %>" data-property-type="<%= list.type ? list.type : '' %>" <%= list.value.toLowerCase() == 'true' ? 'checked' : '' %> />
								<label for="checkboxG<%= counter%>" class="css-label radGroup1" checked><%= list.name %></label><br />
								<% } %>
								<% if ( list.listType == 'dropDown') { %>

								<select class="drop-down" checked>
									<% if(list.value) { %>
									<option type="dropdown" class="list-input" value="<%= list.value %>" data-property="<%= list.property %>"> <%= list.value %></option>
									<% } else { %>
									<option type="dropdown" class="list-input" value="" data-property="<%= list.value %>">Seleccionar signo</option>
									<% } %>
									<!--<option type="dropdown" class="list-input"
									value="<%= list.value %>" data-property="<%= list.value %>"> <%= list.value %>
									-->
									</option>
									<option type="dropdown" class="list-input"
									value="Aries" data-property="<%= list.property %>">Aries
									</option>
									<option type="dropdown" class="list-input"
									value="Tauro" data-property="<%= list.property %>">Tauro
									</option>
									<option type="dropdown" class="list-input"
									value="Geminis" data-property="<%= list.property %>">Géminis
									</option>
									<option type="dropdown" class="list-input"
									value="Cancer" data-property="<%= list.property %>">Cáncer
									</option>
									<option type="dropdown" class="list-input"
									value="Leo" data-property="<%= list.property %>">Leo
									</option>
									<option type="dropdown" class="list-input"
									value="Virgo" data-property="<%= list.property %>">Virgo
									</option>
									<option type="dropdown" class="list-input"
									value="Libra" data-property="<%= list.property %>">Libra
									</option>
									<option type="dropdown" class="list-input"
									value="Escorpio" data-property="<%= list.property %>">Escorpio
									</option>
									<option type="dropdown" class="list-input"
									value="Sagitario" data-property="<%= list.property %>">Sagitario
									</option>
									<option type="dropdown" class="list-input"
									value="Capricornio" data-property="<%= list.property %>">Capricornio
									</option>
									<option type="dropdown" class="list-input"
									value="Acuario" data-property="<%= list.property %>">Acuario
									</option>
									<option type="dropdown" class="list-input"
									value="Piscis" data-property="<%= list.property %>">Piscis
									</option>
								</select>
								<% } %>
								<% if(list.description) { %>
									<div class="description"><%= list.description %></div>
									<% counter++ %>

								<% } %>
							<% } %>
						<% }); %>
					</fieldset>
					<fieldset>
						<% lists.forEach(function(list, index) { %>
							<% if(index % 2 == 1) { %>
							<% if (list.listType !='dropDown'){ %>
								<input type="checkbox" id="checkboxG<%= counter %>" class="css-checkbox list-input" data-property="<%= list.property %>" data-property-value="<%= list.type == 'array' ? list.name : '' %>" data-property-type="<%= list.type %>" <%= list.value.toLowerCase() == 'true' ? 'checked' : '' %> />
								<label for="checkboxG<%= counter%>" class="css-label radGroup1" checked><%= list.name %></label><br />
								<% } %>
								<% if ( list.listType == 'dropDown') { %>
								<select class="drop-down" checked>
									<% if(list.value) { %>
									<option type="dropdown" class="list-input" value="<%= list.value %>" data-property="<%= list.property %>"> <%= list.value %></option>
									<% } else { %>
									<option type="dropdown" class="list-input" value="" data-property="<%= list.property %>">Seleccionar signo</option>
									<% } %>
									<!--<option type="dropdown" class="list-input"
									value="<%= list.value %>" data-property="<%= list.value %>"> <%= list.value %>
									</option>-->
									<option type="dropdown" class="list-input"
									value="Aries" data-property="<%= list.property %>">Aries
									</option>
									<option type="dropdown" class="list-input"
									value="Tauro" data-property="<%= list.property %>">Tauro
									</option>
									<option type="dropdown" class="list-input"
									value="Geminis" data-property="<%= list.property %>">Géminis
									</option>
									<option type="dropdown" class="list-input"
									value="Cancer" data-property="<%= list.property %>">Cáncer
									</option>
									<option type="dropdown" class="list-input"
									value="Leo" data-property="<%= list.property %>">Leo
									</option>
									<option type="dropdown" class="list-input"
									value="Virgo" data-property="<%= list.property %>">Virgo
									</option>
									<option type="dropdown" class="list-input"
									value="Libra" data-property="<%= list.property %>">Libra
									</option>
									<option type="dropdown" class="list-input"
									value="Escorpio" data-property="<%= list.property %>">Escorpio
									</option>
									<option type="dropdown" class="list-input"
									value="Sagitario" data-property="<%= list.property %>">Sagitario
									</option>
									<option type="dropdown" class="list-input"
									value="Capricornio" data-property="<%= list.property %>">Capricornio
									</option>
									<option type="dropdown" class="list-input"
									value="Acuario" data-property="<%= list.property %>">Acuario
									</option>
									<option type="dropdown" class="list-input"
									value="Piscis" data-property="<%= list.property %>">Piscis
									</option>
								</select>
								<% } %>

								<% if(list.description) { %>
									<div class="description"><%= list.description %></div>

								<% counter++ %>
								<% } %>
							<% } %>
						<% }); %>
					</fieldset>
					</fieldset>
<!-- END LAYOUT FOR ONLY IMPREMEDIA -->


<!-- SET LAYOUT FOR ONLY WNYT -->
				<% } else if ( name == 'WNYT'){ %>
					<% counter = 1 %>

					<fieldset class="dropdown">  <!-- WNYT SECTION 1: DROPDOWN FOR FIRST 4 USER PROPS -->
						<select id="WNYT">
							<% lists.forEach(function(list, index) { %>
							<% if(counter<= 4) { %>
								<% if(list.value ==  list.name) { %>
									<option type="dropdown" class="list-input" value="<%= list.name %>" data-property="<%= list.property %>" selected> <%= list.name %></option>
								<% } else { %>
									<option type="dropdown" class="list-input" value="<%= list.name %>" data-property="<%= list.property %>"> <%= list.name %></option>
								<% } %>
								<% counter++ %>

							<% } else if(counter==5){%>	 <!-- WNYT SECTION 2: CHECKBOXES FOR OTHER USER PROPS -->

								<input type="checkbox" id="checkboxG<%= counter %>" class="css-checkbox list-input" data-property="<%= list.property %>" data-property-value="<%= list.type == 'array' ? list.name : '' %>" data-property-type="<%= list.type %>" <%= list.value.toLowerCase() == 'true' ? 'checked' : '' %> />
								<label for="checkboxG<%= counter%>" class="css-label radGroup1" checked><%= list.name %></label><br />
								<% if(list.description) { %>
									<div class="description" style="text-align:left !important;"><%= list.description %></div>

								<% } %>
								<div>&nbsp;</div>

							<% } %>
							<% }); %>
						</select>
					</fieldset>
<!-- END LAYOUT FOR ONLY WNYT -->


<!-- SET LAYOUT FOR ONLY Haggar-DEV-EN-UNSUB -->
				<% } else if ( name == 'Haggar-DEV-EN-UNSUB'){ %>
				<style>
					body{background:#FFFFFF;font-family: 'Montserrat', sans-serif; text-align:center!important;}
					#left-menu {width:0px!important;}
					.menu-items {display:none!important;}
					#btn-unsub-all{display:none !important;}
					#btn-my-profile,#btn-my-list{color:#039CC4 !important;  height:auto!important;}
					#btn-unsub-saveProfile{background:#1f2a44 !important; font-family: 'Montserrat', sans-serif;}
					#btn-save-list{background:#1f2a44 !important; font-family: 'Montserrat', sans-serif;}
					#haggarCaUnsub {width:100%!important;margin-left:0px!important;margin-top:20px!important;margin-bottom:20px!important;padding-left:10px!important;padding-top: 0px!important;padding-bottom: 0px!important;}
					.haggarDropdown {width:100%!important; text-align:left!important}
					.haggarRadio {vertical-align: middle!important; margin-bottom: -30px!important;}
					input[type="radio"]{display: table-cell!important;height:40px!important; width: 20px!important;float:left!important; padding:10px!important;vertical-align: middle!important;}
					label{display: table-cell!important;height:40px;width: calc(100%-60px)!important;padding-left: 10px!important;vertical-align: middle!important;}
					.btn-unsub {margin-bottom: 0px!important;margin-top: 30px!important;}
					.header {text-align: left!important;padding-bottom: 10px;}
					.separator {padding-top: 30px!important;}
					</style>
					<fieldset class="haggarDropdown">
						<select id="haggarCaUnsub">
							<option type="dropdown" class="list-input" value="Not specified" data-property="properties.unsub_reason" selected> Please select a reason</option>
							<% lists.forEach(function(list, index) { %>
							<% if(list.type == 'unsub_reason') { %>
									<option type="dropdown" class="list-input" value="<%= list.name %>" data-property="<%= list.property %>"> <%= list.description %></option><br>
							<% } %>
							<% }); %>
						</select>
					</fieldset>
					<div>
					<input id="btn-unsub-saveProfile" class="btn btn-unsub" type="submit" value="Submit response">
					</div>
					<div class="separator">
					<hr>
					</div>
					<div class="header">
						<%= subHeader %>
					</div>
					<fieldset class="haggarRadio">
							<% lists.forEach(function(list, index) { %>
							<% if(list.type == 'preference') { %>

									<input type="radio"  class="list-input" data-property="<%= list.property %>" data-property-value="<%= list.name %>" data-property-type="<%= list.type %>" name="frequency" value="<%= list.property %>" <%= list.value.toLowerCase() == 'true' ? 'checked' : '' %> ><label for="list-input">  <%= list.description %></label>
							<% } %>
							<% }); %>
					</fieldset>
					<script type="text/javascript">
						//DH - get query params from window
						var getQueryString = function ( field, url ) {
					    var href = url ? url : window.location.href;
					    var reg = new RegExp( '[?&]' + field + '=([^&#]*)', 'i' );
					    var string = reg.exec(href);
					    return string ? string[1] : null;
						};

						//DH - set vars for relevant query elements
						var message_uid = getQueryString("message_uid");
						var user_email = atob(getQueryString("email"))

						window.onload=function() {
						//var url = "/unsub/<%= customerId %>/users/<%= userId %>";
						//DH - use the unsubscribeAll route to set all user props to blank/remove
						var url = "/unsub/<%= customerId %>/users/<%= originalUserId %>/unsubscribeAll?message_uid="+message_uid;

						$.ajax({
						url: url,
						method: 'POST',
						data: '',
						beforeSend: function(xhr, settings) {
							xhr.setRequestHeader("Content-Type", "application/json");
							xhr.setRequestHeader("Accept", "application/json");
						},
						success: function(data, status, xhr) {
							//DH - console.log to confirm success
							console.log("Subscriber " + <%= userId %> + " has been unsubscribed");
						},
						error: function(xhr, status, error) {
							alert("An error occurred updating your preferences(" + error.message + ").  Please try again.");
						}
						});
					}
					</script>
<!-- END LAYOUT FOR ONLY Haggar-DEV-EN-UNSUB -->

<!-- SET LAYOUT FOR ONLY Haggar-DEV-FR-UNSUB' -->
				<% } else if ( name == 'Haggar-DEV-FR-UNSUB'){ %>
				<style>
					body{background:#FFFFFF;font-family: 'Montserrat', sans-serif; text-align:center!important;}
					#left-menu {width:0px!important;}
					.menu-items {display:none!important;}
					#btn-unsub-all{display:none !important;}
					#btn-my-profile,#btn-my-list{color:#039CC4 !important;  height:auto!important;}
					#btn-unsub-saveProfile{background:#1f2a44 !important; font-family: 'Montserrat', sans-serif;}
					#btn-save-list{background:#1f2a44 !important; font-family: 'Montserrat', sans-serif;}
					#haggarCaUnsub {width:100%!important;margin-left:0px!important;margin-top:20px!important;margin-bottom:20px!important;padding-left:10px!important;padding-top: 0px!important;padding-bottom: 0px!important;}
					.haggarDropdown {width:100%!important; text-align:left!important;}
					.haggarRadio {vertical-align: middle!important; margin-bottom: -30px!important;}
					input[type="radio"]{display: table-cell!important;height:40px!important; width: 20px!important;float:left!important; padding:10px!important;vertical-align: middle!important;}
					label{display: table-cell!important;height:40px;width: calc(100%-60px)!important;padding-left: 10px!important;vertical-align: middle!important;}
					.btn-unsub {margin-bottom: 0px!important;margin-top: 30px!important;}
					.header {text-align: left!important;padding-bottom: 10px;}
					.separator {padding-top: 30px!important;}
					</style>
					<fieldset class="haggarDropdown">
						<select name="unsub_reason" id="haggarCaUnsub">
							<option type="dropdown" class="list-input" value="" data-property="" selected> Veuillez sélectionner une raison</option>
							<% lists.forEach(function(list, index) { %>
							<% if(list.type == 'unsub_reason') { %>
									<option type="dropdown" class="list-input" value="<%= list.name %>" data-property="<%= list.property %>"> <%= list.description %></option>
							<% } %>
							<% }); %>
						</select>
					</fieldset>
					<div>
					<input id="btn-unsub-saveProfile" class="btn btn-unsub" type="submit" value="Soumettre la réponse">
					</div>
					<div class="separator">
					<hr>
					</div>

					<div class="header">
						<%= subHeader %>
					</div>
					<fieldset class="haggarRadio">
							<% lists.forEach(function(list, index) { %>
							<% if(list.type == 'preference') { %>
									<input type="radio"  class="list-input" data-property="<%= list.property %>" data-property-value="<%= list.name %>" data-property-type="<%= list.type %>" name="frequency" value="<%= list.property %>" <%= list.value.toLowerCase() == 'true' ? 'checked' : '' %> ><label for="list-input">  <%= list.description %></label>
							<% } %>
							<% }); %>
					</fieldset>
					<script type="text/javascript">
						window.onload=function() {
						var url = "/unsub/<%= customerId %>/users/<%= originalUserId %>";
						$.ajax({
						url: url,
						method: 'POST',
						data: '',
						beforeSend: function(xhr, settings) {
							xhr.setRequestHeader("Content-Type", "application/json");
							xhr.setRequestHeader("Accept", "application/json");
						},
						success: function(data, status, xhr) {
							//DH - console.log to confirm completion
							console.log("Subscriber " + <%= userId %> + " has been unsubscribed");
						},
						error: function(xhr, status, error) {
							alert("An error occurred is setting your subscription status(" + error.message + ").  Please use the Submit button below to try again.");
						}
						});
					}
					</script>
<!-- END LAYOUT FOR ONLY Haggar-DEV-FR-UNSUB' -->

<!-- SET LAYOUT FOR ONLY Haggar-DEV-EN -->
				<% } else if ( name == 'Haggar-DEV-EN')  { %>
					<style>
						#powered_by{display:none !important;}
						#haggar-cadence {width:100%!important;margin-left:0px!important;margin-top:20px!important;margin-bottom:20px!important;padding-left:10px!important;padding-top: 0px!important;padding-bottom: 0px!important;}
						body{background:#FFFFFF;font-family: 'Montserrat', sans-serif; text-align:center!important;}
						#btn-save-profile{background:#1f2a44 !important; font-family: 'Montserrat', sans-serif;}
						#btn-save-list{background:#1f2a44 !important; font-family: 'Montserrat', sans-serif;}
						#btn-unsub-all{color:#1f2a44 !important;}
					</style>
					<fieldset class="dropdown"> <!-- ALL HAGGAR USER PROPS PRESENTED AS DROPDOWN -->
						<select id="haggar-cadence">
							<% lists.forEach(function(list, index) { %>
								<% if(list.value ==  list.name) { %>
									<option type="dropdown" class="list-input" value="<%= list.name %>" data-property="<%= list.property %>" selected> <%= list.name %></option>
								<% } else { %>
									<option type="dropdown" class="list-input" value="<%= list.name %>" data-property="<%= list.property %>"> <%= list.name %></option>
								<% } %>
							<% }); %>
						</select>
					</fieldset>
<!-- END LAYOUT FOR ONLY Haggar-DEV-EN -->

<!-- SET LAYOUT FOR ONLY Haggar-DEV-FR -->
				<% } else if ( name == 'Haggar-DEV-FR')  { %>
					<style>
						#powered_by{display:none !important;}
						#haggar-cadence {width:100%!important;margin-left:0px!important;margin-top:20px!important;margin-bottom:20px!important;padding-left:10px!important;padding-top: 0px!important;padding-bottom: 0px!important;}
						body{background:#FFFFFF;font-family: 'Montserrat', sans-serif; text-align:center!important;}
						#btn-save-profile{background:#1f2a44 !important; font-family: 'Montserrat', sans-serif;}
						#btn-save-list{background:#1f2a44 !important; font-family: 'Montserrat', sans-serif;}
						#btn-unsub-all{color:#1f2a44 !important;}
					</style>
					<fieldset class="dropdown"> <!-- ALL Haggar-DEV-FR USER PROPS PRESENTED AS DROPDOWN -->
						<select id="haggar-cadence">
							<% lists.forEach(function(list, index) { %>
								<% if(list.value ==  list.name) { %>
									<option type="dropdown" class="list-input" value="<%= list.name %>" data-property="<%= list.property %>" selected> <%= list.name %></option>
								<% } else { %>
									<option type="dropdown" class="list-input" value="<%= list.name %>" data-property="<%= list.property %>"> <%= list.name %></option>
								<% } %>
							<% }); %>
						</select>
					</fieldset>
<!-- END LAYOUT FOR ONLY Haggar-DEV-EN -->

<!-- SET LAYOUT FOR ONLY Haggar-PROD-EN -->
				<% } else if ( name == 'Haggar-PROD-EN')  { %>
					<style>
						#powered_by{display:none !important;}
						#haggar-cadence {width:100%!important;margin-left:0px!important;margin-top:20px!important;margin-bottom:20px!important;padding-left:10px!important;padding-top: 0px!important;padding-bottom: 0px!important;}
						body{background:#FFFFFF;font-family: 'Montserrat', sans-serif; text-align:center!important;}
						#btn-save-profile{background:#1f2a44 !important; font-family: 'Montserrat', sans-serif;}
						#btn-save-list{background:#1f2a44 !important; font-family: 'Montserrat', sans-serif;}
						#btn-unsub-all{color:#1f2a44 !important;}
					</style>
					<fieldset class="dropdown"> <!-- ALL HAGGAR USER PROPS PRESENTED AS DROPDOWN -->
						<select id="haggar-cadence">
							<% lists.forEach(function(list, index) { %>
								<% if(list.value ==  list.name) { %>
									<option type="dropdown" class="list-input" value="<%= list.name %>" data-property="<%= list.property %>" selected> <%= list.name %></option>
								<% } else { %>
									<option type="dropdown" class="list-input" value="<%= list.name %>" data-property="<%= list.property %>"> <%= list.name %></option>
								<% } %>
							<% }); %>
						</select>
					</fieldset>
<!-- END LAYOUT FOR ONLY Haggar-PROD-EN -->

<!-- SET LAYOUT FOR ONLY Haggar-PROD-FR -->
				<% } else if ( name == 'Haggar-PROD-FR')  { %>
					<style>
						#powered_by{display:none !important;}
						#haggar-cadence {width:100%!important;margin-left:0px!important;margin-top:20px!important;margin-bottom:20px!important;padding-left:10px!important;padding-top: 0px!important;padding-bottom: 0px!important;}
						body{background:#FFFFFF;font-family: 'Montserrat', sans-serif; text-align:center!important;}
						#btn-save-profile{background:#1f2a44 !important; font-family: 'Montserrat', sans-serif;}
						#btn-save-list{background:#1f2a44 !important; font-family: 'Montserrat', sans-serif;}
						#btn-unsub-all{color:#1f2a44 !important;}
					</style>
					<fieldset class="dropdown"> <!-- ALL Haggar-DEV-FR USER PROPS PRESENTED AS DROPDOWN -->
						<select id="haggar-cadence">
							<% lists.forEach(function(list, index) { %>
								<% if(list.value ==  list.name) { %>
									<option type="dropdown" class="list-input" value="<%= list.name %>" data-property="<%= list.property %>" selected> <%= list.name %></option>
								<% } else { %>
									<option type="dropdown" class="list-input" value="<%= list.name %>" data-property="<%= list.property %>"> <%= list.name %></option>
								<% } %>
							<% }); %>
						</select>
					</fieldset>
<!-- END LAYOUT FOR ONLY Haggar-PROD-EN -->

<!-- SET LAYOUT FOR ONLY Champion-DEV-UNSUB -->
				<% } else if ( name == 'Champion Energy Dev - UNSUB'){ %>
				<style>
					body{background-color:#f0f0f0;font-family: 'Open Sans', 'Segoe UI', Arial, sans-serif; text-align:center!important;}
					#left-menu {width:0px!important;}
					#title-bar {background-color:#f0f0f0;border-bottom:0px;}
					.menu-items {display:none!important;}
					#content{background-color:#ffffff; border:2px solid #d8dadc; margin:0 25% !important; padding:0!important;}
					#list-form{padding:0!important;}
					#btn-my-profile,#btn-my-list{color:#404040 !important;  height:auto!important;}
					#champ-unsub{margin:0 !important;}
					#btn-unsub-saveProfile{background:#1f2a44 !important; font-family: 'Open Sans', 'Segoe UI', Arial, sans-serif;}
					#list-form{color:#404040 !important;}
					#champ-save-list{margin:0 auto !important;border-radius:25px !important; background:#005daa!important; font-family: 'Open Sans', 'Segoe UI', Arial, sans-serif;display:block;}
					#champ-unsub-all{text-decoration:none !important;margin:100px auto 0 auto !important;font-family: 'Open Sans', 'Segoe UI', Arial, sans-serif; border-radius:25px !important;padding: 10px 55px; width: 300px !important;height: 42px !important; background:#005daa !important; border: 0px;font-weight: 700;font-size: 1.125em;color: #ffffff !important;line-height: 24px;display:none;}
					#btn-unsub-all{display:none !important;}
					#btn-save-list{display:none !important;}
					.championRadio {font-family: 'Open Sans', 'Segoe UI', Arial, sans-serif; padding:0 10px!important; width: 100% !important; vertical-align: middle!important; margin-bottom: 20px!important;}
					input[type="radio"]{display: table-cell;height:40px!important; width: 20px!important;float:left!important; padding:10px!important;vertical-align: middle!important;}
					label{display: table-cell!important;height:40px;width: calc(100%-60px)!important;padding-left: 10px!important;vertical-align: middle!important;}
					.btn-unsub {margin-bottom: 0px!important;margin-top: 30px!important;}
					.header {color:#2fac2c !important;font-size:40px!important;padding-bottom: 10px;}
					.separator {padding:20px 10px !important;}
					.subHeader {font-size: 1.125em; color: #404040;}
					</style>

<script type="text/javascript">

function hide2(){
	document.getElementById('champ-unsub-all').style.display ='none';
}

function show1(){
  document.getElementById('champ-save-list').style.display ='block';
  document.getElementById('champ-unsub-all').style.display ='none';
}
function show2(){
  document.getElementById('champ-unsub-all').style.display ='block';
  document.getElementById('champ-save-list').style.display = 'none';
}
</script>

					<div>
					<div class="subHeader">
						<% profile.forEach(function(prop, index) { %>
							<% if (prop.name == 'Email') { %>
								Please select email preference for <span style="color:#005daa;"><%= prop.value %></span> below
							<% } %>
						<% }); %>
					</div>
					</div>
					<div class="separator">
					<hr>
					</div>


					<fieldset class="championRadio">
							<% lists.forEach(function(list, index) { %>
								<% if(list.type == 'preference') { %>
									<% if (list.name == 'activate') { %>
										<input checked id="activate" type="radio" onload="hide2()"; onclick="show1();" class="list-input" data-property="<%= list.property %>" data-property-value="<%= list.name %>" data-property-type="<%= list.type %>" name="frequency">
										<label for="list-input" style="color:#404040 !important;">
											<%= list.description %>
										</label>
									<% } else if (list.name == 'unsubscribe') { %>
										<input id="unsubscribe" type="radio"  onload="hide2()"; onclick="show2();" class="list-input" data-property="<%= list.property %>" data-property-value="<%= list.name %>" data-property-type="<%= list.type %>" name="frequency">
										<label for="list-input" style="color:#404040 !important;">
											<%= list.description %>
										</label>
									<% } %>
								<% } %>
							<% }); %>
					</fieldset>
					<div id="champ-unsub">
						<a id="champ-unsub-all">Unsubscribe From All</a>
						<input id="champ-save-list" class="btn btn-save" type="submit" value="Save My Preferences">
					</div>



<!-- END LAYOUT FOR ONLY Champion-DEV-UNSUB -->

<!-- SET LAYOUT FOR ONLY GolfLogix -->
				<% } else if ( name == 'GolfLogix')  { %>
					<style>
						.header{padding-bottom:50px;}
						#powered_by{display:none !important;}
						#left-menu{display:none !important;}
						#content{padding: 0 10px !important;}
						#list-form{padding 0 !important;}
						.fieldset-container{padding 0 !important;}
						#btn-save-list{display:none !important;}
						#btn-unsub-all{margin-top: 20px; padding: 10px 20px; width: 300px;height: 42px;background: #3db449;border: 0px;border-radius: 2px;font-weight: 700;font-size: 1.125em;color: #ffffff !important;line-height: 24px;margin-top: 50px;}
						body{background:#FFFFFF;font-family: 'Montserrat', sans-serif; text-align:center!important;}
						.menu-items {display:none!important;}
					</style>
<!-- END LAYOUT FOR ONLY GolfLogix -->


<!-- SET LAYOUT FOR ONLY DIGINOMICA -->
				<% } else if ( name == 'Diginomica')  { %>

					<fieldset class="dropdown"> <!-- ALL DIGINOMICA USER PROPS PRESENTED AS DROPDOWN -->
						<select id="Diginomica">
							<% lists.forEach(function(list, index) { %>
								<% if(list.value ==  list.name) { %>
									<option type="dropdown" class="list-input" value="<%= list.name %>" data-property="<%= list.property %>" selected> <%= list.name %></option>
								<% } else { %>
									<option type="dropdown" class="list-input" value="<%= list.name %>" data-property="<%= list.property %>"> <%= list.name %></option>
								<% } %>
							<% }); %>
						</select>
					</fieldset>
<!-- END LAYOUT FOR ONLY DIGINOMICA -->

<!-- SET LAYOUT FOR ONLY SHEFINDS -->
				<% } else if ( name == 'SheFinds')  { %>
					<% counter = 1 %>
					<fieldset>
						<% lists.forEach(function(list, index) { %>
								<input type="radio" id="radioG<%= counter %>" class="list-input" data-property="<%= list.property %>" data-property-value="<%= list.name %>" data-property-type="<%= list.type %>" name="frequency" value="<%= list.property %>" <%= list.value.toLowerCase() == 'true' ? 'checked' : '' %> > <%= list.name %>
							<% counter++ %>
						<% }); %>
					</fieldset>
<!-- END LAYOUT FOR ONLY SHEFINDS -->

<!-- SET LAYOUT FOR ONLY GAMESPOT -->
				<% } else if ( name == 'GameSpot')  { %>
					<style>
					body{background:#ffffff;}
					#btn-save-list{background:#e02b00 !important;}
					#btn-unsub-all{color:#858585 !important;}
					#btn-my-profile,#btn-my-list{color:#e02b00 !important;}
					</style>
					<% counter = 1 %>

					<fieldset>
						<% lists.forEach(function(list, index) { %>

							<% if((index % 2 == 0) && (list.property == 'properties.opt_in')) { %>
								<input type="checkbox" id="checkboxG<%= counter %>" class="css-checkbox list-input" data-property="<%= list.property %>" data-property-value="<%= list.type == 'array' ? list.name : '' %>" data-property-type="<%= list.type ? list.type : '' %>" <%= list.value.toLowerCase() == 'true' ? 'checked' : 'checked' %> />
								<label for="checkboxG<%= counter%>" class="css-label radGroup1" checked><%= list.name %></label><br />

								<% counter++ %>
							<% } %>
						<% }) %>
					</fieldset>
					<fieldset>
						<% lists.forEach(function(list, index) { %>
							<% if((index % 2 == 1) && (list.listType == 'dropDown')) { %>
								<select class="drop-down" checked>
									<% if(list.value) { %>
										<option type="dropdown" class="list-input" value="<%= list.value %>" data-property="<%= list.property %>"> <%= list.name %>: <%= list.value %></option>
									<% } else { %>
										<option type="dropdown" class="list-input" value="" data-property="<%= list.value %>">Please select a cadence</option>
									<% } %>

									<option type="dropdown" class="list-input"
									value="1x_weekly" data-property="<%= list.property %>">1x/week
									</option>
									<option type="dropdown" class="list-input"
									value="2x_weekly" data-property="<%= list.property %>">2x/week
									</option>
									<option type="dropdown" class="list-input"
									value="3x_weekly" data-property="<%= list.property %>">3x/week
									</option>
									<option type="dropdown" class="list-input"
									value="4x_weekly" data-property="<%= list.property %>">4x+/week
									</option>
								</select>
							<% } %>
						<% }) %>
					</fieldset>

					<fieldset>
						<% lists.forEach(function(list, index) { %>
							<% if((index % 2 == 0) && (list.property !== 'properties.opt_in') && (list.listType !== 'dropDown')) { %>
								<input type="checkbox" id="checkboxG<%= counter %>" class="css-checkbox list-input" data-property="<%= list.property %>" data-property-value="<%= list.type == 'array' ? list.name : '' %>" data-property-type="<%= list.type ? list.type : '' %>" <%= list.value.toLowerCase() == 'true' ? 'checked' : '' %> />
								<label for="checkboxG<%= counter%>" class="css-label radGroup1" checked><%= list.name %></label><br />

								<% counter++ %>
							<% } %>
						<% }); %>
					</fieldset>
					<fieldset>
						<% lists.forEach(function(list, index) { %>
							<% if((index % 2 == 1) && (list.property !== 'properties.opt_in') && (list.listType !== 'dropDown')) { %>
								<input type="checkbox" id="checkboxG<%= counter %>" class="css-checkbox list-input" data-property="<%= list.property %>" data-property-value="<%= list.type == 'array' ? list.name : '' %>" data-property-type="<%= list.type %>" <%= list.value.toLowerCase() == 'true' ? 'checked' : '' %> />
								<label for="checkboxG<%= counter%>" class="css-label radGroup1" checked><%= list.name %></label><br />

								<% counter++ %>
							<% } %>
						<% }); %>
					</fieldset>

<!-- END LAYOUT FOR ONLY GAMESPOT -->

<!-- SET LAYOUT FOR ADVISOR PERSPECTIVES -->
				<% } else if ( name == 'Advisor Perspectives')  { %>
					<style>
					body{background:#ffffff;}
					</style>

					<% counter = 1 %>
					<fieldset>
						<% lists.forEach(function(list, index) { %>
							<% if(index % 2 == 0) { %>
								<input type="checkbox" id="checkboxG<%= counter %>" class="css-checkbox list-input" data-property="<%= list.property %>" data-property-value="<%= list.type == 'array' ? list.name : '' %>" data-property-type="<%= list.type ? list.type : '' %>" <%= list.value.toLowerCase() == 'true' ? 'checked' : '' %> />
								<label for="checkboxG<%= counter%>" class="css-label radGroup1" checked><%= list.name %></label><br />

								<% if(counter == 1) { %>
									<% if(list.description) { %>
										<div class="description">Flagship newsletter with original articles<br><i>Tuesday at 6a ET</i></div>
									<% } %>
								<% } %>

								<% if(counter == 2) { %>
									<% if(list.description) { %>
										<div class="description">An aggregation of today’s top market commentaries by industry thought leaders<br><i>Daily at 4p ET</i></div>
									<% } %>
								<% } %>

								<% if(counter == 3) { %>
									<% if(list.description) { %>
										<div class="description">Charts of market and economics trends by Jill Mislinski<br><i>Tues-Sat at 9a ET</i></div>
									<% } %>
								<% } %>

								<% if(counter == 4) { %>
									<% if(list.description) { %>
										<div class="description">Occasional messages from our partners<br><i>Occasional</i></div>
									<% } %>
								<% } %>

								<% if(counter == 5) { %>
									<% if(list.description) { %>
										<div class="description">Our most-read articles in the previous month<br><i>Once per month</i></div>
									<% } %>
								<% } %>

								<% if(counter == 6) { %>
									<% if(list.description) { %>
										<div class="description">Articles from keynote speakers and exclusive interviews from thought leaders like Gundlach, Siegel, and more<br><i>M, W, F afternoons</i></div>
									<% } %>
								<% } %>

								<% counter++ %>
							<% } %>
						<% }); %>
					</fieldset>
					<fieldset>
						<% lists.forEach(function(list, index) { %>
							<% if(index % 2 == 1) { %>
								<input type="checkbox" id="checkboxG<%= counter %>" class="css-checkbox list-input" data-property="<%= list.property %>" data-property-value="<%= list.type == 'array' ? list.name : '' %>" data-property-type="<%= list.type %>" <%= list.value.toLowerCase() == 'true' ? 'checked' : '' %> />
								<label for="checkboxG<%= counter%>" class="css-label radGroup1" checked><%= list.name %></label><br />

								<% if(counter == 7) { %>
									<% if(list.description) { %>
										<div class="description">Original content focused on managing your practice<br><i>Thursday at 6a ET</i></div>
									<% } %>
								<% } %>

								<% if(counter == 8) { %>
									<% if(list.description) { %>
										<div class="description">Thought provoking original content sent early in the mornings for your commute<br><i>M, W, F at 4a or 6a ET</i></div>
									<% } %>
								<% } %>
								<% if(counter == 9) { %>
									<% if(list.description) { %>
										<div class="description">Custom webinars often with CE credits for CFP, IMCA and other CE opportunities<br><i>Occasional</i></div>
									<% } %>
								<% } %>
								<% if(counter == 10) { %>
									<% if(list.description) { %>
										<div class="description">Spotlight of the top white papers this month<br><i>Once per month</i></div>
									<% } %>
								<% } %>
								<% if(counter == 11) { %>
									<% if(list.description) { %>
										<div class="description">Our most-read commentaries the week<br><i>Delivered Friday afternoons</i></div>
									<% } %>
								<% } %>


								<% counter++ %>
							<% } %>
						<% }); %>
					</fieldset>
<!-- END LAYOUT FOR ADVISOR PERSPECTIVES -->

<!-- SET LAYOUT FOR ONLY PARIS REVIEW -->
				<% } else if ( name == 'theParisReview')  { %>
					<% counter = 1 %>
					<fieldset>
						<% lists.forEach(function(list, index) { %>
							<% if(index % 2 == 0) { %>
								<input type="checkbox" id="checkboxG<%= counter %>" class="css-checkbox list-input" data-property="<%= list.property %>" data-property-value="<%= list.type == 'array' ? list.name : '' %>" data-property-type="<%= list.type ? list.type : '' %>" <%= list.value.toLowerCase() == 'true' ? 'checked' : '' %> />
								<label for="checkboxG<%= counter%>" class="css-label radGroup1" checked><%= list.name %></label><br />

								<% if(counter == 1) { %>
									<% if(list.description) { %>
										<div class="description">The best of <i>The Paris Review Daily</i>, once a week.</div>
									<% } %>
								<% } %>
								<% if(counter == 2) { %>
									<% if(list.description) { %>
										<div class="description">Monthly updates, issues releases, events, and more from <i>The Paris Review</i>.</div>
									<% } %>
								<% } %>
								<% counter++ %>
							<% } %>
						<% }); %>
					</fieldset>
					<fieldset>
						<% lists.forEach(function(list, index) { %>
							<% if(index % 2 == 1) { %>
								<input type="checkbox" id="checkboxG<%= counter %>" class="css-checkbox list-input" data-property="<%= list.property %>" data-property-value="<%= list.type == 'array' ? list.name : '' %>" data-property-type="<%= list.type %>" <%= list.value.toLowerCase() == 'true' ? 'checked' : '' %> />
								<label for="checkboxG<%= counter%>" class="css-label radGroup1" checked><%= list.name %></label><br />

								<% if(counter == 3) { %>
									<% if(list.description) { %>
										<div class="description">See which interviews, stories, and poems the editors unlocked this week.</div>
									<% } %>
								<% } %>

								<% counter++ %>
							<% } %>
						<% }); %>
					</fieldset>
<!-- END LAYOUT FOR ONLY PARIS REVIEW -->


<!-- SET LAYOUT FOR ONLY THE GAZETTE -->
				<% } else if ( name == 'The Gazette')  { %>
				<% counter = 1 %>
				<fieldset>
				  <% lists.forEach(function(list, index) { %>
				    <% if(index <= 5) { %>
				      <input type="checkbox" id="checkboxG<%= counter %>" class="css-checkbox list-input" data-property="<%= list.property %>" data-property-value="<%= list.type == 'array' ? list.name : '' %>" data-property-type="<%= list.type ? list.type : '' %>" <%= list.value.toLowerCase() == 'true' ? 'checked' : '' %> />
				      <label for="checkboxG<%= counter%>" class="css-label radGroup1" checked><%= list.name %></label><br />

				      <% if(list.description) { %>
				        <div class="description"><%= list.description %></div>
				      <% } %>
				      <% counter++ %>
				    <% } %>
				  <% }); %>
				</fieldset>
				<fieldset>
				  <% lists.forEach(function(list, index) { %>
				    <% if(index > 5) { %>
				      <input type="checkbox" id="checkboxG<%= counter %>" class="css-checkbox list-input" data-property="<%= list.property %>" data-property-value="<%= list.type == 'array' ? list.name : '' %>" data-property-type="<%= list.type %>" <%= list.value.toLowerCase() == 'true' ? 'checked' : '' %> />
				      <label for="checkboxG<%= counter%>" class="css-label radGroup1" checked><%= list.name %></label><br />
				      <% if(list.description) { %>
				        <div class="description"><%= list.description %></div>
				      <% } %>
				      <% counter++ %>
				    <% } %>
				  <% }); %>
				</fieldset>
<!-- END LAYOUT FOR ONLY THE GAZETTE -->

<!-- SET LAYOUT FOR IDG -->
				<% } else if ( name == 'CIO-UK' || name == 'Computerworld UK' || name == 'Techworld.com UK')  { %>
					<% counter = 1 %>
					<fieldset>
						<% lists.forEach(function(list, index) { %>
							<% if(index % 2 == 0) { %>
								<input type="checkbox" id="checkboxG<%= counter %>" class="css-checkbox list-input" data-property="<%= list.property %>" data-property-value="<%= list.type == 'array' ? list.name : '' %>" data-property-type="<%= list.type ? list.type : '' %>" <%= list.value.toLowerCase() == 'true' ? 'checked' : 'checked' %> />
								<label for="checkboxG<%= counter%>" class="css-label radGroup1" checked><%= list.name %></label><br />

								<% if(list.description) { %>
									<div class="description"><%= list.description %></div>
								<% } %>
								<% counter++ %>
							<% } %>
						<% }); %>
					</fieldset>
					<fieldset>
						<% lists.forEach(function(list, index) { %>
							<% if(index % 2 == 1) { %>
								<input type="checkbox" id="checkboxG<%= counter %>" class="css-checkbox list-input" data-property="<%= list.property %>" data-property-value="<%= list.type == 'array' ? list.name : '' %>" data-property-type="<%= list.type %>" <%= list.value.toLowerCase() == 'true' ? 'checked' : 'checked' %> />
								<label for="checkboxG<%= counter%>" class="css-label radGroup1" checked><%= list.name %></label><br />
								<% if(list.description) { %>
									<div class="description"><%= list.description %></div>
								<% } %>
								<% counter++ %>
							<% } %>
						<% }); %>
					</fieldset>

<!-- END LAYOUT FOR IDG -->

<!-- SET LAYOUT FOR NUTRICIA -->

        <% } else if (name == 'Nutricia') { %>
            <style>
              body{background:#ffffff;}
              #btn-save-list, .unsub, #title-bar, #left-menu, #error-message, #success-message{display:none;}
              #content{width:100%;}
              .fieldset-container{width:100%;}
              .loader{height: 100px;width: 10%;text-align: left;display: inline-block;vertical-align: top;}
              svg path,svg rect{fill: #1C499C;}
            </style>

            <script type="text/javascript">

              window.onload=function() {
              var url = "/unsub/<%= customerId %>/users/<%= originalUserId %>";

              $.ajax({
                url: url,
                method: 'POST',
                data: '',
                beforeSend: function(xhr, settings) {
                  xhr.setRequestHeader("Content-Type", "application/json");
                  xhr.setRequestHeader("Accept", "application/json");
                },
                success: function(data, status, xhr) {
                  $('#loading').hide()
                  $('#success-message').show()
                },
                error: function(xhr, status, error) {
                  $('#loading').hide()
                  $('#error-message').show()
                }
              });
            }
            </script>

            <div class="header" style="text-align: left;">
              <div class="headerImage"><img style="width: 200px;margin:50px 0px 50px 0px" alt="Nutricia" src="/images/logos/nutricia-logo.gif"/></div>
              <div id="loading"><div class="loader loader--style2" title="1"> <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve"> <path fill="#000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z"> <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite"/> </path> </svg></div></div>
              <div id="success-message"><div style="font-size: 17px; margin-bottom: 50px;"><p>你已成功取消訂閱NUTRICIA電子郵件。與你暫別，我們很不捨呢！</p><p>如只是錯按「取消訂閱」？那你可隨時登入 <a href="www.everydaycounts.nutricia.com.hk">www.everydaycounts.nutricia.com.hk</a>，重新註冊。</p></div>
              <div><p>We're sad to see you go! </p><p>You've been successfully unsubscribed from NUTRICIA emails.</p><p>Made a mistake? You can always sign up again at <a href="www.everydaycounts.nutricia.com.hk">www.everydaycounts.nutricia.com.hk</a></p></div></div>
              <div id="error-message"><p>An error occurred updating your preferences. Please try again.</p></div>
            </div>

<!-- END LAYOUT FOR NUTRICIA -->

<!-- SET LAYOUT FOR EVERYONE ELSE -->
				<% } else { %>
					<% counter = 1 %>
					<fieldset>
						<% lists.forEach(function(list, index) { %>
							<% if(index % 2 == 0) { %>
								<input type="checkbox" id="checkboxG<%= counter %>" class="css-checkbox list-input" data-property="<%= list.property %>" data-property-value="<%= list.type == 'array' ? list.name : '' %>" data-property-type="<%= list.type ? list.type : '' %>" <%= list.value.toLowerCase() == 'true' ? 'checked' : '' %> />
								<label for="checkboxG<%= counter%>" class="css-label radGroup1" checked><%= list.name %></label><br />

								<% if(list.description) { %>
									<div class="description"><%= list.description %></div>
								<% } %>
								<% counter++ %>
							<% } %>
						<% }); %>
					</fieldset>
					<fieldset>
						<% lists.forEach(function(list, index) { %>
							<% if(index % 2 == 1) { %>
								<input type="checkbox" id="checkboxG<%= counter %>" class="css-checkbox list-input" data-property="<%= list.property %>" data-property-value="<%= list.type == 'array' ? list.name : '' %>" data-property-type="<%= list.type %>" <%= list.value.toLowerCase() == 'true' ? 'checked' : '' %> />
								<label for="checkboxG<%= counter%>" class="css-label radGroup1" checked><%= list.name %></label><br />
								<% if(list.description) { %>
									<div class="description"><%= list.description %></div>
								<% } %>
								<% counter++ %>
							<% } %>
						<% }); %>
					</fieldset>
				<% } %>
<!-- END LAYOUT FOR EVERYONE ELSE -->

			</div>


			<div>
				<!--DH SET LANG STRINGS-->
				<% if (langPref == 'ES'){ %>
				<input id="btn-save-list" class="btn btn-save" type="submit" value="Guardar mis Preferencias">
				<% } else if (langPref == 'BP'){ %>
				<input id="btn-save-list" class="btn btn-save" type="submit" value="Salvar">
				<% } else if (langPref == 'FR'){ %>
				<input id="btn-save-list" class="btn btn-save" type="submit" value="Enregistrer mon choix">
				<% } else { %>
				<input id="btn-save-list" class="btn btn-save" type="submit" value="Save My Preferences">
				<% } %>

			</div>

			<div class="unsub">
				<!--Localise Unsub from all  - based on account property-->
				<% if (langPref == 'ES'){ %>
				<a id="btn-unsub-all">Bajar de todos los boletines</a>
				<% } else if (langPref == 'BP'){ %>
				<a id="btn-unsub-all">Cancelar Todas</a>
				<% } else if (langPref == 'FR'){ %>
				<a id="btn-unsub-all">Se désabonner de tous</a>
        <% } else if (langPref == 'ET'){ %>
				<a id="btn-unsub-all">Eemalda uudiskirjast</a>
				<% } else { %>
				<a id="btn-unsub-all">Unsubscribe from All</a>
				<% } %>


			</div>
			<div class="message_uid"></div>
			<div id="powered_by"><span>Powered by</span><br />
				<div class="logo"><a href="http://boomtrain.com" target="_blank"><img src="/images/boomtrain-white.png" /></a></div>
			</div>
		</div>
	</div>
</div>

<script>
var selectMyProfile = function() {
	$("#list-form").hide();
	$("#btn-my-list").removeClass("selected");
	$("#profile-icon").attr("src","/images/profile-on.png");
	$("#list-icon").attr("src","/images/list-off.png");
	$("#profile-form").show();
	$("#btn-my-profile").addClass("selected");
}

var selectMyList = function() {
	$("#profile-form").hide();
	$("#btn-my-profile").removeClass("selected");
	$("#profile-icon").attr("src","/images/profile-off.png");
	$("#list-icon").attr("src","/images/list-on.png");
	$("#list-form").show();
	$("#btn-my-list").addClass("selected");
}



var updatePreferences = function() {
	var preferences = {};

	var selected = false;
	$(".profile-update").toArray().forEach(function(item) {
		var key = $(item).attr("data-property");
		var type = $(item).attr("type");

		if (type == "dropdown") {
			// console.log(key + " item selected " + item.selected);
			if (!selected && item.selected) {
				preferences[key] = $(item).val();
				selected = true;
			}
		} else {
			preferences[key] = $(item).val();
		}
	});

	var selected = false;
	$(".profile-input").toArray().forEach(function(item) {
		var key = $(item).attr("data-property");
		var type = $(item).attr("type");

		if (type == "dropdown") {
			// console.log(key + " item selected " + item.selected);
			if (!selected && item.selected) {
				preferences[key] = $(item).val();
				selected = true;
			}
		} else {
			preferences[key] = $(item).val();
		}
	});

	$(".list-input").toArray().forEach(function(item) {
		var key = $(item).attr("data-property");
		var dataVal = $(item).attr("data-property-value");
		var dataType = $(item).attr("data-property-type");
		var type = $(item).attr("type");

		if (type != "dropdown") {
			if (dataType == 'array') {
				if (key in preferences) {
					if (item.checked) {
						preferences[key].push(dataVal);
					}
				} else {
					if (item.checked) {
						preferences[key] = [dataVal];
					} else {
						preferences[key] = [];
					}
				}
			} else {
				preferences[key] = item.checked ? "true": "false";
			}
		} else {
			//console.log(key + " item selected " + item.selected);
			if (!selected && item.selected) {
				preferences[key] = $(item).val();
				selected = true;
			}
		}
	});
	if (getParameterByName("message_uid")) {
		if (getParameterByName("email")) {
			var url = "/preferences/<%= customerId %>/users/<%= originalUserId %>?message_uid=" + getParameterByName("message_uid") + "&email=" + getParameterByName("email");
		} else {
			var url = "/preferences/<%= customerId %>/users/<%= originalUserId %>?message_uid=" + getParameterByName("message_uid");
		}

	} else {
		var url = "/preferences/<%= customerId %>/users/<%= originalUserId %>";
	}

	//DH -  Set confirmation message by language
	<% if (langPref == 'ES'){ %>
	<% } else if (langPref == 'BP'){ %>
		var success_message = "Preferencias exitosamente actualizadas. Ahora puedes cerrar esta ventana"
	<% } else if (langPref == 'FR'){ %>
		var success_message = "Préférences mises à jour avec succès. Vous pouvez maintenant fermer cette fenêtre"
	<% } else { %>
		var success_message = "Preferences successfully updated. You may now close this window"
	<% } %>
	<% if (langPref == 'ES'){ %>
	<% } else if (langPref == 'BP'){ %>
		var error_message = "Se produjo un error al actualizar tus preferencias. Inténtalo de nuevo."
	<% } else if (langPref == 'FR'){ %>
		var error_message = "Une erreur s'est produite lors de la mise à jour de vos préférences. Veuillez réessayer."
	<% } else { %>
		var error_message = "An error occurred updating your preferences.  Please try again."
	<% } %>
	$.ajax({
		url: url,
		method: 'POST',
		data: JSON.stringify(preferences),
		beforeSend: function(xhr, settings) {
			xhr.setRequestHeader("Content-Type", "application/json");
			xhr.setRequestHeader("Accept", "application/json");
		},
		success: function(data, status, xhr) {
			alert(success_message);
		},
		error: function(xhr, status, error) {
			alert(error_message);
		}
	});

	//split 'customerId' value at _ separator and use the first section only
	mixpanel.track("preferences-updated", {'customerId': <%= customerId.split("_", 1) %> });

	return false;
};

function getParameterByName(name, url) {
		if (!url) url = window.location.href;
		name = name.replace(/[\[\]]/g, "\\$&");
		var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
				results = regex.exec(url);
		if (!results) return null;
		if (!results[2]) return '';
		return decodeURIComponent(results[2].replace(/\+/g, " "));
}

//DH - Add function to unsub user and update prefs
var unsubUpdatePreferences = function() {
	var preferences = {};

	var selected = false;
	$(".profile-update").toArray().forEach(function(item) {
		var key = $(item).attr("data-property");
		var type = $(item).attr("type");

		if (type == "dropdown") {
			// console.log(key + " item selected " + item.selected);
			if (!selected && item.selected) {
				preferences[key] = $(item).val();
				selected = true;
			}
		} else {
			preferences[key] = $(item).val();
		}
	});

	var selected = false;
	$(".profile-input").toArray().forEach(function(item) {
		var key = $(item).attr("data-property");
		var type = $(item).attr("type");

		if (type == "dropdown") {
			// console.log(key + " item selected " + item.selected);
			if (!selected && item.selected) {
				preferences[key] = $(item).val();
				selected = true;
			}
		} else {
			preferences[key] = $(item).val();
		}
	});

	$(".list-input").toArray().forEach(function(item) {
		var key = $(item).attr("data-property");
		var dataVal = $(item).attr("data-property-value");
		var dataType = $(item).attr("data-property-type");
		var type = $(item).attr("type");

		if (type != "dropdown") {
			if (dataType == 'array') {
				if (key in preferences) {
					if (item.checked) {
						preferences[key].push(dataVal);
					}
				} else {
					if (item.checked) {
						preferences[key] = [dataVal];
					} else {
						preferences[key] = [];
					}
				}
			} else {
				preferences[key] = item.checked ? "true": "false";
			}
		} else {
			//console.log(key + " item selected " + item.selected);
			if (!selected && item.selected) {
				preferences[key] = $(item).val();
				selected = true;
			}
		}
	});

	if (getParameterByName("message_uid")) {
		if (getParameterByName("email")) {
			var url = "/unsub/<%= customerId %>/users/<%= originalUserId %>?message_uid=" + getParameterByName("message_uid") + "&email=" + getParameterByName("email");
		} else {
			var url = "/unsub/<%= customerId %>/users/<%= originalUserId %>?message_uid=" + getParameterByName("message_uid");
		}

	} else {
		var url = "/unsub/<%= customerId %>/users/<%= originalUserId %>";
	}

	//DH - Set confirmation messages by language
	<% if (langPref == 'ES'){ %>
	<% } else if (langPref == 'BP'){ %>
		var success_message = "Preferencias exitosamente actualizadas. Ahora puedes cerrar esta ventana"
	<% } else if (langPref == 'FR'){ %>
		var success_message = "Préférences mises à jour avec succès. Vous pouvez maintenant fermer cette fenêtre"
	<% } else { %>
		var success_message = "Preferences successfully updated. You may now close this window"
	<% } %>
	<% if (langPref == 'ES'){ %>
	<% } else if (langPref == 'BP'){ %>
		var error_message = "Se produjo un error al actualizar tus preferencias. Inténtalo de nuevo."
	<% } else if (langPref == 'FR'){ %>
		var error_message = "Une erreur s'est produite lors de la mise à jour de vos préférences. Veuillez réessayer."
	<% } else { %>
		var error_message = "An error occurred updating your preferences.  Please try again."
	<% } %>

	$.ajax({
		url: url,
		method: 'POST',
		data: JSON.stringify(preferences),
		beforeSend: function(xhr, settings) {
			xhr.setRequestHeader("Content-Type", "application/json");
			xhr.setRequestHeader("Accept", "application/json");
		},
		success: function(data, status, xhr) {
			alert(success_message);
		},
		error: function(xhr, status, error) {
			alert(error_message);
		}
	});

	//split 'customerId' value at _ separator and use the first section only
	mixpanel.track("preferences-updated", {'customerId': <%= customerId.split("_", 1) %> });

	return false;
};

function getParameterByName(name, url) {
		if (!url) url = window.location.href;
		name = name.replace(/[\[\]]/g, "\\$&");
		var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
				results = regex.exec(url);
		if (!results) return null;
		if (!results[2]) return '';
		return decodeURIComponent(results[2].replace(/\+/g, " "));
}



var unsubscribeAll = function() {
	var url = "/preferences/<%= customerId %>/users/<%= originalUserId %>/unsubscribeAll";

	$.ajax({
		url: url,
		method: 'POST',
		//DH - data: "",
		data: "JSON.stringify(preferences)",
		beforeSend: function(xhr, settings) {
			xhr.setRequestHeader("Content-Type", "application/json");
			xhr.setRequestHeader("Accept", "application/json");
		},
		//success: function(data, status, xhr) {
		//	alert("Unsubscribe all successfully updated.");
		//},
		success: function(data, status, xhr) {
			alert("Unsubscribe all successfully updated.");
		},
		error: function(xhr, status, error) {
			alert("An error occurred updating your preferences(" + error.message + ").  Please try again.");
		}
	});

	//split 'customerId' value at _ separator and use the first section only
	mixpanel.track("preferences-updated", {'customerId': <%= customerId.split("_", 1) %> });
}

$("#btn-my-profile").click(selectMyProfile);
$("#btn-my-list").click(selectMyList);
$("#btn-save-profile").click(updatePreferences);
$("#btn-save-list").click(updatePreferences);
$("#champ-save-list").click(updatePreferences);

//$("#btn-unsub-all").click(unsubscribeAll);

//DH - add action for unsub pref selection button
$("#btn-unsub-saveProfile").click(unsubUpdatePreferences);



// saves message_uid
if (getParameterByName("message_uid")) {
	$(".message_uid").attr("id", getParameterByName("message_uid"));
	$("#btn-unsub-all").attr("href", "/preferences/<%= customerId %>/users/<%= originalUserId %>/unsubscribeAll?message_uid=" + getParameterByName("message_uid"));
} else {
	$("#btn-unsub-all").attr("href", "/preferences/<%= customerId %>/users/<%= originalUserId %>/unsubscribeAll");
}

if (getParameterByName("message_uid")) {
	$(".message_uid").attr("id", getParameterByName("message_uid"));
	$("#champ-unsub-all").attr("href", "/preferences/<%= customerId %>/users/<%= originalUserId %>/unsubscribeAll?message_uid=" + getParameterByName("message_uid"));
} else {
	$("#champ-unsub-all").attr("href", "/preferences/<%= customerId %>/users/<%= originalUserId %>/unsubscribeAll");
}

var message = '<%- req.flash('message') %>';
if (message != '') {
	alert(message);
}


var page = getParameterByName('page');
if(page && page != '') {
	if(page == "1") {
		selectMyList();
	}
	else if(page == "2") {
		selectMyProfile();
	}
	else {
		selectMyList();
	}
}
else {
	selectMyList();
}
status = ('<%= unsubStatus %>');
list = ('<%= unsubListName %>');
var listsObj = []
<% lists.forEach(function(list, index){ %>
	listsObj[<%= index %>] = {}
	listsObj[<%= index %>].name = ('<%= list.name %>');
	listsObj[<%= index %>].property = ('<%= list.property %>');
<% }); %>
var bannerSlide = function(unsubList, status){
	var name = ''
	for(var a = 0; a < listsObj.length; a++){
		if(listsObj[a].property === "properties."+unsubList){
			name = listsObj[a].name
		}
	}
	if(status === 'true'){
		$("#banner").css('background-color','#3DC054')
		$("#banner_message").text('You have been successfully unsubscribed from ' + name )
	} else {
		$("#banner").css('background-color','#FE314A')
		$("#banner_message").text('Unable to unsubscribe.')
	}
	$("#banner").slideDown().delay(3000).slideUp();
}
$("#banner").hide();
if(list != 'undefined')
	bannerSlide(list,status)

name = ('<%= name %>');


$("fieldset.dropdown").css({
	"padding-top": "30px !important",
		"text-align": "center !important"
});

$("select").css({
		"color": "#536266",
		"margin": "50px",
		"border": "1px solid rgba(33, 39, 54, .2)",
		"background": "transparent",
		"width": "200px",
		"padding": "20px",
		"font-size": "16px",
		"height": "50px",
		"font-family": "'Lato', sans-serif"
});

</script>

<script>
	//split 'customerId' value at _ separator and use the first section only
	mixpanel.track("page-load", {'customerId': <%= customerId.split("_", 1) %> });
</script>

<script type="text/javascript" src="/js/jspatch.js"></script>
