<!--<div id="top-bar">
	<div class="logo">
		<img src="/images/boomtrain.png" />
	</div>
</div>-->
<div id="banner">
	<p id="banner_message"></p>
</div>

<div id="title-bar">
	<div class="logo">
		<img src="<%= logo %>" />
	</div>
</div>

<div id="body">
	<div id="left-menu">
		<div class="menu-items">
			<div class="menu-item">
				<!-- Localise Left Nav links (list page/prefs page) - based on account property -->
				<% if (langPref == 'ES'){ %>
				<img src="/images/profile-off.png" id="list-icon"/><a id="btn-my-list" href="javascript:void(0);">Mis Boletines</a>
				<% } else { %>
				<img src="/images/profile-off.png" id="list-icon"/><a id="btn-my-list" href="javascript:void(0);">My Lists</a>
				<% } %>
			</div>
			<div class="menu-item">
				<% if (langPref == 'ES'){ %>
				<img src="/images/list-on.png" id="profile-icon"/><a id="btn-my-profile" href="javascript:void(0);">Mi Perfil</a>
				<% } else { %>
				<img src="/images/list-on.png" id="profile-icon"/><a id="btn-my-profile" href="javascript:void(0);">My Profile</a>
				<% } %>
			</div>
		</div>
	</div>

	<div id="content">
		<div id="profile-form" class="form">
			<div class="fieldset-container">
				<% profile.forEach(function(prop, index) { %>
					<fieldset>
						<label><%= prop.name %></label>
						<input type="text" class="profile-input" data-property="<%= prop.property %>" value="<%= prop.value %>">
					</fieldset>
				<% }); %>
			</div>
			<div>
				<!-- Localise Save Profile - based on account property -->
				<% if (langPref == 'ES'){ %>
				<input id="btn-save-profile" class="btn btn-save" type="submit" value="Guardar mis Preferencias">
				<% } else { %>
				<input id="btn-save-profile" class="btn btn-save" type="submit" value="Save Profile">
				<% } %>			</div>
		</div>
		<div id="list-form" class="form">
			<div class="fieldset-container">
<!-- SET EMAIL IN HEADER FOR ONLY IMPREMEDIA ONLY (this was Honest Reporting section) -->
                <% if (name.indexOf('Impremdia') == -1) { %> <!-- DO FOR OTHERS -->
    				<% if(header) { %>
    					<div class="header"><%= header %></div>
    				<% } %>

                <% } else { %>  


        			<% if (name.indexOf('Impremdia') != -1) { %> <!-- DO FOR IMPREMEDIA ONLY - add div for user prefs -->
                        <% if(header) { %>
                            <div class="header" style="text-align:left !important"><%= header %></div>
                        <% } %>

                        <!-- START: add a div to contain NON EDITABLE user prefs -->
        				<% counter = 0 %>
        				<% profile.forEach(function(prop, index) { %>
    						<% if(counter == 0) { %>
        						<div class="header" style="text-align:left !important">
        						<p>Su correo electrónico:&nbsp;<b><%= prop.value %> </b></p>


        						</div>
    						<% } %>
    					<% counter++ %>
                        <% }); %>
    	        <!-- END: add a div to contain user prefs -->
            		<% } %>

                <% } %>     <!-- END IF -->
<!-- END CUSTOM HEADER FOR ONLY IMPREMEDIA ONLY -->

<!-- SET LAYOUT FOR ONLY IMPREMEDIA -->
				<% if (name.indexOf('Impremdia') != -1){ %> 
					<% counter = 1 %>

								<script>
								
								//DH - set properties.horoscopo_sign required if properties.lo_horoscopo is checked - can't make this work :)

								if($('input[data-property="properties.lo_horoscopo"]').length) //Horoscopo for LaOpinion exists?
								{
								//alert('lo_horoscopo exists'); 
								$('input[data-property="properties.lo_horoscopo"]').change(function () {
								    if(this.checked) {
								    	//$("#properties.horoscopo_sign").prop('required');
								        //$("#properties.horoscopo_sign").attr('required', true);
								        $("#properties.horoscopo_sign").prop('required', true)
								        console.log("lo_horoscopo checked");
								    } else {
								        //$("#properties.horoscopo_sign").removeAttr('required');
								        $("#properties.horoscopo_sign").prop('required', false)
								        console.log("lo_horoscopo unchecked");
								    }
								});

								}
								</script>	

					<fieldset>
						<% lists.forEach(function(list, index) { %>
							<% if(index % 2 == 0) { %>
							<% if (list.listType !='dropDown'){ %> 
								<input type="checkbox" id="checkboxG<%= counter %>" class="css-checkbox list-input" data-property="<%= list.property %>" data-property-value="<%= list.type == 'array' ? list.name : '' %>" data-property-type="<%= list.type ? list.type : '' %>" <%= list.value.toLowerCase() == 'true' ? 'checked' : '' %> />
								<label for="checkboxG<%= counter%>" class="css-label radGroup1" checked><%= list.name %></label><br />
								<% } %>



								<% if ( list.listType == 'dropDown') { %>

								<select class="drop-down" checked>
									<% if(list.value) { %>
									<option type="dropdown" class="list-input" value="<%= list.value %>" data-property="<%= list.property %>"> <%= list.value %></option>
									<% } else { %>
									<option type="dropdown" class="list-input" value="" data-property="<%= list.value %>">Seleccionar signo</option>
									<% } %>
									<!--<option type="dropdown" class="list-input" 
									value="<%= list.value %>" data-property="<%= list.value %>"> <%= list.value %>
									-->
									</option> 
									<option type="dropdown" class="list-input" 
									value="Aries" data-property="<%= list.property %>">Aries
									</option> 
									<option type="dropdown" class="list-input" 
									value="Tauro" data-property="<%= list.property %>">Tauro
									</option> 
									<option type="dropdown" class="list-input" 
									value="Geminis" data-property="<%= list.property %>">Géminis
									</option> 
									<option type="dropdown" class="list-input" 
									value="Cancer" data-property="<%= list.property %>">Cáncer
									</option> 
									<option type="dropdown" class="list-input" 
									value="Leo" data-property="<%= list.property %>">Leo
									</option> 
									<option type="dropdown" class="list-input" 
									value="Virgo" data-property="<%= list.property %>">Virgo
									</option> 
									<option type="dropdown" class="list-input" 
									value="Libra" data-property="<%= list.property %>">Libra
									</option> 
									<option type="dropdown" class="list-input" 
									value="Escorpio" data-property="<%= list.property %>">Escorpio
									</option> 
									<option type="dropdown" class="list-input" 
									value="Sagitario" data-property="<%= list.property %>">Sagitario
									</option> 
									<option type="dropdown" class="list-input" 
									value="Capricornio" data-property="<%= list.property %>">Capricornio
									</option> 
									<option type="dropdown" class="list-input" 
									value="Acuario" data-property="<%= list.property %>">Acuario
									</option> 
									<option type="dropdown" class="list-input" 
									value="Piscis" data-property="<%= list.property %>">Piscis
									</option> 
								</select>           						
								<% } %>
								<% if(list.description) { %>
									<div class="description"><%= list.description %></div>
									<% counter++ %>
								
								<% } %>
							<% } %>
						<% }); %>
					</fieldset>
					<fieldset>

								<script>
								
								//DH - set properties.horoscopo_sign required if properties.lo_horoscopo is checked - can't make this work :)

								if($('input[data-property="properties.lo_horoscopo"]').length) //Horoscopo for LaOpinion exists?
								{
								//alert('lo_horoscopo exists'); 
								$('input[data-property="properties.lo_horoscopo"]').change(function () {
								    if(this.checked) {
								    	//$("#properties.horoscopo_sign").prop('required');
								        //$("#properties.horoscopo_sign").attr('required', true);
								        $("#properties.horoscopo_sign").prop('required', true)
								        console.log("lo_horoscopo checked");
								    } else {
								        //$("#properties.horoscopo_sign").removeAttr('required');
								        $("#properties.horoscopo_sign").prop('required', false)
								        console.log("lo_horoscopo unchecked");
								    }
								});

								}
								</script>
					
						<% lists.forEach(function(list, index) { %>
							<% if(index % 2 == 1) { %>

							<% if (list.listType !='dropDown'){ %>  
								<input type="checkbox" id="checkboxG<%= counter %>" class="css-checkbox list-input" data-property="<%= list.property %>" data-property-value="<%= list.type == 'array' ? list.name : '' %>" data-property-type="<%= list.type %>" <%= list.value.toLowerCase() == 'true' ? 'checked' : '' %> />
								<label for="checkboxG<%= counter%>" class="css-label radGroup1" checked><%= list.name %></label><br />
								<% } %>
								<% if ( list.listType == 'dropDown') { %>
								<select class="drop-down" checked>
									<% if(list.value) { %>
									<option type="dropdown" class="list-input" value="<%= list.value %>" data-property="<%= list.property %>"> <%= list.value %></option>
									<% } else { %>
									<option type="dropdown" class="list-input" value="" data-property="<%= list.property %>">Seleccionar signo</option>
									<% } %>
									<!--<option type="dropdown" class="list-input" 
									value="<%= list.value %>" data-property="<%= list.value %>"> <%= list.value %>
									</option>-->
									<option type="dropdown" class="list-input" 
									value="Aries" data-property="<%= list.property %>">Aries
									</option> 
									<option type="dropdown" class="list-input" 
									value="Tauro" data-property="<%= list.property %>">Tauro
									</option> 
									<option type="dropdown" class="list-input" 
									value="Geminis" data-property="<%= list.property %>">Géminis
									</option> 
									<option type="dropdown" class="list-input" 
									value="Cancer" data-property="<%= list.property %>">Cáncer
									</option> 
									<option type="dropdown" class="list-input" 
									value="Leo" data-property="<%= list.property %>">Leo
									</option> 
									<option type="dropdown" class="list-input" 
									value="Virgo" data-property="<%= list.property %>">Virgo
									</option> 
									<option type="dropdown" class="list-input" 
									value="Libra" data-property="<%= list.property %>">Libra
									</option> 
									<option type="dropdown" class="list-input" 
									value="Escorpio" data-property="<%= list.property %>">Escorpio
									</option> 
									<option type="dropdown" class="list-input" 
									value="Sagitario" data-property="<%= list.property %>">Sagitario
									</option> 
									<option type="dropdown" class="list-input" 
									value="Capricornio" data-property="<%= list.property %>">Capricornio
									</option> 
									<option type="dropdown" class="list-input" 
									value="Acuario" data-property="<%= list.property %>">Acuario
									</option> 
									<option type="dropdown" class="list-input" 
									value="Piscis" data-property="<%= list.property %>">Piscis
									</option> 
								</select>          						
								<% } %>

								<% if(list.description) { %>
									<div class="description"><%= list.description %></div>
								
								<% counter++ %>
								<% } %>
							<% } %>
						<% }); %>
					</fieldset>
					</fieldset>
<!-- END LAYOUT FOR ONLY IMPREMEDIA -->


<!-- SET LAYOUT FOR ONLY WNYT -->
				<% } else if ( name == 'WNYT'){ %> 
					<% counter = 1 %>

					<fieldset class="dropdown">  <!-- WNYT SECTION 1: DROPDOWN FOR FIRST 4 USER PROPS -->
						<select id="WNYT">
							<% lists.forEach(function(list, index) { %>
							<% if(counter<= 4) { %>
								<% if(list.value ==  list.name) { %>
									<option type="dropdown" class="list-input" value="<%= list.name %>" data-property="<%= list.property %>" selected> <%= list.name %></option>
								<% } else { %>
									<option type="dropdown" class="list-input" value="<%= list.name %>" data-property="<%= list.property %>"> <%= list.name %></option>
								<% } %>
								<% counter++ %>

							<% } else if(counter==5){%>	 <!-- WNYT SECTION 2: CHECKBOXES FOR OTHER USER PROPS -->

								<input type="checkbox" id="checkboxG<%= counter %>" class="css-checkbox list-input" data-property="<%= list.property %>" data-property-value="<%= list.type == 'array' ? list.name : '' %>" data-property-type="<%= list.type %>" <%= list.value.toLowerCase() == 'true' ? 'checked' : '' %> />
								<label for="checkboxG<%= counter%>" class="css-label radGroup1" checked><%= list.name %></label><br />
								<% if(list.description) { %>
									<div class="description" style="text-align:left !important;"><%= list.description %></div>

								<% } %>
								<div>&nbsp;</div>

							<% } %>
							<% }); %>
						</select>
					</fieldset>
<!-- END LAYOUT FOR ONLY WNYT -->


<!-- SET LAYOUT FOR ONLY KOB -->
				<% } else if ( name == 'KOB'){ %> 
					<% counter = 1 %>

					<fieldset class="dropdown">  <!-- KOB SECTION 1: DROPDOWN FOR FIRST 4 USER PROPS -->
						<select id="KOB">
							<% lists.forEach(function(list, index) { %>
							<% if(counter<= 4) { %>
								<% if(list.value ==  list.name) { %>
									<option type="dropdown" class="list-input" value="<%= list.name %>" data-property="<%= list.property %>" selected> <%= list.name %></option>
								<% } else { %>
									<option type="dropdown" class="list-input" value="<%= list.name %>" data-property="<%= list.property %>"> <%= list.name %></option>
								<% } %>
								<% counter++ %>

							<% } else if(counter==5){%>	 <!-- KOB SECTION 2: CHECKBOXES FOR OTHER USER PROPS -->

								<input type="checkbox" id="checkboxG<%= counter %>" class="css-checkbox list-input" data-property="<%= list.property %>" data-property-value="<%= list.type == 'array' ? list.name : '' %>" data-property-type="<%= list.type %>" <%= list.value.toLowerCase() == 'true' ? 'checked' : '' %> />
								<label for="checkboxG<%= counter%>" class="css-label radGroup1" checked><%= list.name %></label><br />
								<% if(list.description) { %>
									<div class="description" style="text-align:left !important;"><%= list.description %></div>

								<% } %>
								<div>&nbsp;</div>

							<% } %>
							<% }); %>
						</select>
					</fieldset>
<!-- END LAYOUT FOR ONLY KOB -->


<!-- SET LAYOUT FOR ONLY DIGINOMICA -->
				<% } else if ( name == 'Diginomica')  { %> 

					<fieldset class="dropdown"> <!-- ALL DIGINOMICA USER PROPS PRESENTED AS DROPDOWN -->
						<select id="Diginomica">
							<% lists.forEach(function(list, index) { %>
								<% if(list.value ==  list.name) { %>
									<option type="dropdown" class="list-input" value="<%= list.name %>" data-property="<%= list.property %>" selected> <%= list.name %></option>
								<% } else { %>
									<option type="dropdown" class="list-input" value="<%= list.name %>" data-property="<%= list.property %>"> <%= list.name %></option>
								<% } %>
							<% }); %>
						</select>
					</fieldset>
<!-- END LAYOUT FOR ONLY DIGINOMICA -->


<!-- SET LAYOUT FOR ONLY THE GAZETTE -->
				<% } else if ( name == 'The Gazette')  { %> 
				<% counter = 1 %>
				<fieldset>
				  <% lists.forEach(function(list, index) { %>
				    <% if(index <= 5) { %>
				      <input type="checkbox" id="checkboxG<%= counter %>" class="css-checkbox list-input" data-property="<%= list.property %>" data-property-value="<%= list.type == 'array' ? list.name : '' %>" data-property-type="<%= list.type ? list.type : '' %>" <%= list.value.toLowerCase() == 'true' ? 'checked' : '' %> />
				      <label for="checkboxG<%= counter%>" class="css-label radGroup1" checked><%= list.name %></label><br />

				      <% if(list.description) { %>
				        <div class="description"><%= list.description %></div>
				      <% } %>
				      <% counter++ %>
				    <% } %>
				  <% }); %>
				</fieldset>
				<fieldset>
				  <% lists.forEach(function(list, index) { %>
				    <% if(index > 5) { %>
				      <input type="checkbox" id="checkboxG<%= counter %>" class="css-checkbox list-input" data-property="<%= list.property %>" data-property-value="<%= list.type == 'array' ? list.name : '' %>" data-property-type="<%= list.type %>" <%= list.value.toLowerCase() == 'true' ? 'checked' : '' %> />
				      <label for="checkboxG<%= counter%>" class="css-label radGroup1" checked><%= list.name %></label><br />
				      <% if(list.description) { %>
				        <div class="description"><%= list.description %></div>
				      <% } %>
				      <% counter++ %>
				    <% } %>
				  <% }); %>
				</fieldset>
<!-- END LAYOUT FOR ONLY THE GAZETTE -->


<!-- SET LAYOUT FOR EVERYONE ELSE -->
				<% } else { %>
					<% counter = 1 %>
					<fieldset>
						<% lists.forEach(function(list, index) { %>
							<% if(index % 2 == 0) { %>
								<input type="checkbox" id="checkboxG<%= counter %>" class="css-checkbox list-input" data-property="<%= list.property %>" data-property-value="<%= list.type == 'array' ? list.name : '' %>" data-property-type="<%= list.type ? list.type : '' %>" <%= list.value.toLowerCase() == 'true' ? 'checked' : '' %> />
								<label for="checkboxG<%= counter%>" class="css-label radGroup1" checked><%= list.name %></label><br />

								<% if(list.description) { %>
									<div class="description"><%= list.description %></div>
								<% } %>
								<% counter++ %>
							<% } %>
						<% }); %>
					</fieldset>
					<fieldset>
						<% lists.forEach(function(list, index) { %>
							<% if(index % 2 == 1) { %>
								<input type="checkbox" id="checkboxG<%= counter %>" class="css-checkbox list-input" data-property="<%= list.property %>" data-property-value="<%= list.type == 'array' ? list.name : '' %>" data-property-type="<%= list.type %>" <%= list.value.toLowerCase() == 'true' ? 'checked' : '' %> />
								<label for="checkboxG<%= counter%>" class="css-label radGroup1" checked><%= list.name %></label><br />
								<% if(list.description) { %>
									<div class="description"><%= list.description %></div>
								<% } %>
								<% counter++ %>
							<% } %>
						<% }); %>
					</fieldset>
				<% } %>
<!-- END LAYOUT FOR EVERYONE ELSE -->

			</div>

			<div>
				<!-- Localise Save Profile  - based on account property -->
				<% if (langPref == 'ES'){ %>
				<input id="btn-save-list" class="btn btn-save" type="submit" value="Guardar mis Preferencias">
				<% } else { %>
				<input id="btn-save-list" class="btn btn-save" type="submit" value="Save Profile">
				<% } %>
			</div>
			<div class="unsub">
				<!-- Localise Unsub from all  - based on account property -->
				<% if (langPref == 'ES'){ %>
				<a id="btn-unsub-all">Bajar de todos los boletines</a>
				<% } else { %>
				<a id="btn-unsub-all">Unsubscribe from All</a>
				<% } %>
				
			</div>
			<div class="message_uid"></div>
			<div id="powered_by"><span>Powered by</span><br />
				<div class="logo"><a href="http://boomtrain.com" target="_blank"><img src="/images/boomtrain-white.png" /></a></div>
			</div>
		</div>
	</div>
</div>

<script>
var selectMyProfile = function() {
	$("#list-form").hide();
	$("#btn-my-list").removeClass("selected");
	$("#profile-icon").attr("src","/images/profile-on.png");
	$("#list-icon").attr("src","/images/list-off.png");
	$("#profile-form").show();
	$("#btn-my-profile").addClass("selected");
}

var selectMyList = function() {
	$("#profile-form").hide();
	$("#btn-my-profile").removeClass("selected");
	$("#profile-icon").attr("src","/images/profile-off.png");
	$("#list-icon").attr("src","/images/list-on.png");
	$("#list-form").show();
	$("#btn-my-list").addClass("selected");
}

var updatePreferences = function() {
	var preferences = {};

	$(".profile-input").toArray().forEach(function(item) {
		var key = $(item).attr("data-property");
		preferences[key] = $(item).val();
	});


	var selected = false;
	$(".list-input").toArray().forEach(function(item) {
		var key = $(item).attr("data-property");
		var dataVal = $(item).attr("data-property-value");
		var dataType = $(item).attr("data-property-type");
		var type = $(item).attr("type");

		if (type != "dropdown") {
			if (dataType == 'array') {
				if (key in preferences) {
					if (item.checked) {
						preferences[key].push(dataVal);
					}
				} else {
					if (item.checked) {
						preferences[key] = [dataVal];
					} else {
						preferences[key] = [];
					}
				}
			} else {
				preferences[key] = item.checked ? "true": "false";
			}
		} else {
			//console.log(key + " item selected " + item.selected);
			if (!selected && item.selected) {
				preferences[key] = $(item).val();
				selected = true;
			}
		}
	});

	if (getParameterByName("message_uid")) {
		var url = "/preferences/<%= customerId %>/users/<%= userId %>?message_uid=" + getParameterByName("message_uid");
	} else {
		var url = "/preferences/<%= customerId %>/users/<%= userId %>";
	}

	$.ajax({
		url: url,
		method: 'POST',
		data: JSON.stringify(preferences),
		beforeSend: function(xhr, settings) {
			xhr.setRequestHeader("Content-Type", "application/json");
			xhr.setRequestHeader("Accept", "application/json");
		},
		success: function(data, status, xhr) {
			alert("Preferences successfully updated.");
		},
		error: function(xhr, status, error) {
			alert("An error occurred updating your preferences(" + error.message + ").  Please try again.");
		}
	});

	//split 'customerId' value at _ separator and use the first section only
	mixpanel.track("preferences-updated", {'customerId': <%= customerId.split("_", 1) %> });

	return false;
};

function getParameterByName(name, url) {
		if (!url) url = window.location.href;
		name = name.replace(/[\[\]]/g, "\\$&");
		var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
				results = regex.exec(url);
		if (!results) return null;
		if (!results[2]) return '';
		return decodeURIComponent(results[2].replace(/\+/g, " "));
}

var unsubscribeAll = function() {
	var url = "/preferences/<%= customerId %>/users/<%= originalUserId %>/unsubscribeAll";

	$.ajax({
		url: url,
		method: 'POST',
		data: "",
		beforeSend: function(xhr, settings) {
			xhr.setRequestHeader("Content-Type", "application/json");
			xhr.setRequestHeader("Accept", "application/json");
		},
		success: function(data, status, xhr) {
			alert("Unsubscribe all successfully updated.");
		},
		error: function(xhr, status, error) {
			alert("An error occurred updating your preferences(" + error.message + ").  Please try again.");
		}
	});

	//split 'customerId' value at _ separator and use the first section only
	mixpanel.track("preferences-updated", {'customerId': <%= customerId.split("_", 1) %> });
}

$("#btn-my-profile").click(selectMyProfile);
$("#btn-my-list").click(selectMyList);
$("#btn-save-profile").click(updatePreferences);
$("#btn-save-list").click(updatePreferences);

//$("#btn-unsub-all").click(unsubscribeAll);

// saves message_uid
if (getParameterByName("message_uid")) {
	$(".message_uid").attr("id", getParameterByName("message_uid"));
	$("#btn-unsub-all").attr("href", "/preferences/<%= customerId %>/users/<%= originalUserId %>/unsubscribeAll?message_uid=" + getParameterByName("message_uid"));
} else {
	$("#btn-unsub-all").attr("href", "/preferences/<%= customerId %>/users/<%= originalUserId %>/unsubscribeAll");
}

var message = '<%- req.flash('message') %>';
if (message != '') {
	alert(message);
}


var page = getParameterByName('page');
if(page && page != '') {
	if(page == "1") {
		selectMyList();
	}
	else if(page == "2") {
		selectMyProfile();
	}
	else {
		selectMyList();
	}
}
else {
	selectMyList();
}
status = ('<%= unsubStatus %>');
list = ('<%= unsubListName %>');
var listsObj = []
<% lists.forEach(function(list, index){ %>
	listsObj[<%= index %>] = {}
	listsObj[<%= index %>].name = ('<%= list.name %>');
	listsObj[<%= index %>].property = ('<%= list.property %>');
<% }); %>
var bannerSlide = function(unsubList, status){
	var name = ''
	for(var a = 0; a < listsObj.length; a++){
		if(listsObj[a].property === "properties."+unsubList){
			name = listsObj[a].name
		}
	}
	if(status === 'true'){
		$("#banner").css('background-color','#3DC054')
		$("#banner_message").text('You have been successfully unsubscribed from ' + name )
	} else {
		$("#banner").css('background-color','#FE314A')
		$("#banner_message").text('Unable to unsubscribe.')
	}
	$("#banner").slideDown().delay(3000).slideUp();
}
$("#banner").hide();
if(list != 'undefined')
	bannerSlide(list,status)

name = ('<%= name %>');


$("fieldset.dropdown").css({
	"padding-top": "30px !important",
		"text-align": "center !important"
});

$("select").css({
		"color": "#536266",
		"margin": "50px",
		"border": "1px solid rgba(33, 39, 54, .2)",
		"background": "transparent",
		"width": "200px",
		"padding": "20px",
		"font-size": "16px",
		"height": "50px",
		"font-family": "'Lato', sans-serif"
});

console.log("Testing Unsubscribe Count");

</script>

<script>
	//split 'customerId' value at _ separator and use the first section only
	mixpanel.track("page-load", {'customerId': <%= customerId.split("_", 1) %> });
</script>

<script type="text/javascript" src="/js/jspatch.js"></script>
