<div id="top-bar">
	<div class="logo">
		<img src="/images/boomtrain.png" />
	</div>
</div>
<div id="banner">
	<p id="banner_message"></p>
</div>

<div id="title-bar">
	<div class="logo">
		<img src="<%= logo %>" />
	</div>
</div>

<div id="body">
	<div id="left-menu">
		<div class="menu-items">
			<div class="menu-item">
				<img src="/images/list-on.png" id="profile-icon"/><a id="btn-my-profile" href="#">My Profile</a>
			</div>
			<div class="menu-item">
				<img src="/images/profile-off.png" id="list-icon"/><a id="btn-my-list" href="#">My Lists</a>
			</div>
		</div>
	</div>

	<div id="content">
		<div id="profile-form" class="form">
			<div class="fieldset-container">
				<fieldset>
					<% profile.forEach(function(prop, index) { %>
						<% if(index % 2 == 0) { %>
							<label><%= prop.name %></label>
							<input type="text" class="profile-input" data-property="<%= prop.property %>" value="<%= prop.value %>">
						<% } %>
					<% }); %>
				</fieldset>
				<fieldset>
					<% profile.forEach(function(prop, index) { %>
						<% if(index % 2 == 1) { %>
							<label><%= prop.name %></label>
							<input type="text" class="profile-input" data-property="<%= prop.property %>" value="<%= prop.value %>">
						<% } %>
					<% }); %>
				</fieldset>
			</div>
			<div>
				<input id="btn-save-profile" class="btn btn-save" type="submit" value="Save Profile">
			</div>
		</div>
		<div id="list-form" class="form">
			<div class="fieldset-container">
				<% counter = 1 %>
				<fieldset>
					<% lists.forEach(function(list, index) { %>
						<% if(index % 2 == 0) { %>
							<input type="checkbox" id="checkboxG<%= counter %>" class="css-checkbox list-input" data-property="<%= list.property %>" <%= list.value == 'true' ? 'checked' : '' %> />
							<label for="checkboxG<%= counter%>" class="css-label radGroup1" checked><%= list.name %></label><br />
							<% counter++ %>
						<% } %>
					<% }); %>
				</fieldset>
				<fieldset>
					<% lists.forEach(function(list, index) { %>
						<% if(index % 2 == 1) { %>
							<input type="checkbox" id="checkboxG<%= counter %>" class="css-checkbox list-input" data-property="<%= list.property %>" <%= list.value == 'true' ? 'checked' : '' %> />
							<label for="checkboxG<%= counter%>" class="css-label radGroup1" checked><%= list.name %></label><br />
							<% counter++ %>
						<% } %>
					<% }); %>
				</fieldset>
			</div>
			<div>
				<input id="btn-save-list" class="btn btn-save" type="submit" value="Save My List">
			</div>
			<div class="unsub">
				<a id="btn-unsub-all" href="/preferences/<%= customerId %>/users/<%= originalUserId %>/unsubscribeAll">Unsubscribe from All</a>
			</div>
		</div>
	</div>
</div>

<script>
var selectMyProfile = function() {
	$("#list-form").hide();
	$("#btn-my-list").removeClass("selected");
	$("#profile-icon").attr("src","/images/profile-on.png");
	$("#list-icon").attr("src","/images/list-off.png");
	$("#profile-form").show();
	$("#btn-my-profile").addClass("selected");
}

var selectMyList = function() {
	$("#profile-form").hide();
	$("#btn-my-profile").removeClass("selected");
	$("#profile-icon").attr("src","/images/profile-off.png");
	$("#list-icon").attr("src","/images/list-on.png");
	$("#list-form").show();
	$("#btn-my-list").addClass("selected");
}

var updatePreferences = function() {
	var preferences = {};

	$(".profile-input").toArray().forEach(function(item) { 
		var key = $(item).attr("data-property");
		preferences[key] = $(item).val();
	});

	$(".list-input").toArray().forEach(function(item) { 
		var key = $(item).attr("data-property");
		preferences[key] = item.checked ? "true": "false";
	});

	var url = "/preferences/<%= customerId %>/users/<%= userId %>";
	
	$.ajax({
		url: url,
		method: 'POST',
		data: JSON.stringify(preferences),
		beforeSend: function(xhr, settings) {
			xhr.setRequestHeader("Content-Type", "application/json");
			xhr.setRequestHeader("Accept", "application/json");
		},
		success: function(data, status, xhr) {
			alert("Preferences successfully updated.");
		},
		error: function(xhr, status, error) {
			alert("An error occurred updating your preferences(" + error.message + ").  Please try again.");
		}
	});
	
	mixpanel.track("preferences-updated", {'customerId': <%= customerId %> });

	return false;
};

function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
}

$("#btn-my-profile").click(selectMyProfile);
$("#btn-my-list").click(selectMyList);
$("#btn-save-profile").click(updatePreferences);
$("#btn-save-list").click(updatePreferences);

var page = getParameterByName('page');
if(page && page != '') {
	if(page == "1") {
		selectMyProfile();
	}
	else if(page == "2") {
		selectMyList();
	}
	else {
		selectMyProfile();
	}
}
else {
	selectMyProfile();
}
status = ('<%= unsubStatus %>');
list = ('<%= unsubListName %>');
console.log(list);
var listsObj = []
<% lists.forEach(function(list, index){ %>
	listsObj[<%= index %>] = {}
	listsObj[<%= index %>].name = ('<%= list.name %>');
	listsObj[<%= index %>].property = ('<%= list.property %>');
<% }); %>
var bannerSlide = function(unsubList, status){
	var name = ''
	for(var a = 0; a < listsObj.length; a++){
		if(listsObj[a].property === "properties."+unsubList){
			name = listsObj[a].name
		}
	}
	if(status === 'true'){
		$("#banner").css('background-color','#3DC054')
		$("#banner_message").text('You have been successfully unsubscribed from ' + name )
	} else {
		$("#banner").css('background-color','#FE314A')
		$("#banner_message").text('Unable to unsubscribe.')
	}
	$("#banner").slideDown().delay(1500).slideUp();
}
$("#banner").hide();
if(list != 'undefined')
	bannerSlide(list,status)
</script>

<script>
mixpanel.track("page-load", {'customerId': <%= customerId %> });
</script>

<script type="text/javascript" src="/js/jspatch.js"></script>
